.equipment {
    display: grid;
    grid-template-columns: 80px 500px;
    grid-auto-columns: 500px;
    grid-template-rows: 500px;
    grid-auto-rows: 500px;
    justify-items: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
}

.equipment_image {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.grinder,
.aeropress,
.kalita,
.kettle,
.scale {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    color: #E7E6DF
}

.equipment_info_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #E7E6DF;
    background-color: #29545a;    
    opacity: 80%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 5px;
}

.equipment_info_link:hover,
.equipment_info_link:focus {
    opacity: 1;
    color: #F0DD4D;
    font-weight: bold;
}



/* SUB-HEADERS */
.grinders {
    grid-row-start: 1;
    transform: rotate(-90deg);
}

.brewers {
    grid-row-start: 2;
    transform: rotate(-90deg);
}

.kettles {
    grid-row-start: 3;
    transform: rotate(-90deg);
}

.scales {
    grid-row-start: 4;
    transform: rotate(-90deg);
}

.grinders::after,
.brewers::after,
.kettles::after,
.scales::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color:#4b939d;
    position: absolute;
    left: 0;
    bottom: -15px;
    transform: all 0.4s;
    opacity: 1;
    pointer-events: none;
}

/* CONTENTS */
.grinder {
    grid-row-start: 1;
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aeropress {
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kalita {
    grid-row-start: 2;
    grid-column-start: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kettle {
    grid-row-start: 3;
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scale {
    grid-row-start: 4;
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1160px) {
    .equipment {
        display: grid;
        justify-content: center;
        grid-template-columns: 500px;
        grid-auto-columns: 500px;
        grid-template-rows: repeat(2, 100px 500px) 500px repeat(2, 100px 500px);
        grid-auto-rows: 500px;
        justify-items: center;
        align-items: center;
        column-gap: 30px;
        row-gap: 30px;
    }

    /* SUB-HEADERS */
    .grinders {
        grid-row-start: 1;
        grid-column-start: 1;
        transform: none;
    }

    .brewers {
        grid-row-start: 3;
        grid-column-start: 1;
        transform: none;
    }

    .kettles {
        grid-row-start: 6;
        grid-column-start: 1;
        transform: none;
    }

    .scales {
        grid-row-start: 8;
        grid-column-start: 1;
        transform: none;
    }  
    
    /* CONTENTS */
    .grinder {
        grid-row-start: 2;
        grid-column-start: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aeropress {
        grid-row-start: 4;
        grid-column-start: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .kalita {
        grid-row-start: 5;
        grid-column-start: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .kettle {
        grid-row-start: 7;
        grid-column-start: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .scale {
        grid-row-start: 9;
        grid-column-start: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .grinders::after,
    .brewers::after,
    .kettles::after,
    .scales::after {
        content: '';
        height: 2px;
        width: 100%;
        background-color:#4b939d;
        position: absolute;
        left: 0;
        bottom: -15px;
        transform: all 0.4s;
        opacity: 0;
        pointer-events: none;
    }
}