/* STYLE SHEET FOR THE ART PAGE OF MY WEBSITE PORTFOLIO */

h1.page_title {
    text-align: center;
    margin-top: 30px;
}

.art_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 15px;
    box-shadow: 
    -50px -50px 0 -40px #29545a,
    50px 50px 0 -40px #29545a;
}

figcaption {
    text-align: center;
    margin-bottom: 35px;
    font-size: 85%;
}

.text_box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    text-align: justify;
}