/* STYLE SHEET FOR THE FOOTERS OF MY WEBSITE PORTFOLIO */

footer {
    background-color: #F0DD4D;
    background-clip: padding-box;
    padding: 15px;
    color: #29545a;
    text-align: center;
    position: relative;
    margin-top: 80px;
}

.social_links {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1vw;
}

.socials_link {
    text-decoration: none;
    color: #29545a;
    transition: all 0.4s;
    position: relative;
}

.socials_link:hover,
.social_links:focus {
    text-decoration: none;
    color: #4b939d;
    font-size: 97%;
}

.footer_button {
    background-color:#29545a;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding:16px 31px;
    text-decoration:none;
}
.footer_button:hover {
    background-color:#293c5a;
    scale: 98%;
}
.footer_button:active {
    position:relative;
    top:1px;
}