/* STYLE SHEET FOR THE HEADERS OF MY WEBSITE PORTFOLIO */

header {
    background-color: #F0DD4D;
    background-clip: padding-box;
    padding: 10px;
    color: #29545a;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 80px;
    padding: 0 50px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_link {
    text-decoration: none;
    color: #29545a;
    transition: all 0.4s;
    position: relative;
}

.logo_link:hover,
.logo_link:focus {
    color: #4b939d;
    font-size: 97%;
}

.page_links {
    display: flex;
    column-gap: 30px;
}

.header_link {
    text-decoration: none;
    color: #29545a;
    transition: all 0.4s;
    position: relative;
}

.header_link:hover,
.header_link:focus {
    color: #4b939d;
    font-size: 97%;
}

.header_link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color:#4b939d;
    position: absolute;
    left: 0;
    bottom: -7px;
    transform: all 0.4s;
    opacity: 0;
    pointer-events: none;
}

.header_link:hover::after {
    opacity: 1;
}