/* CORE STYLE SHEET FOR MY WEBSITE PORTFOLIO */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 90px;
    background-color: #E7E6DF;
    height: 500px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333123;
}