/* STYLE SHEET FOR MY WEBSITE PORTFOLIO */

* {
    font-family: Arial, Helvetica, sans-serif;
}


/* SECTIONS */

header {
    background-color: black;
    color: whitesmoke;
}

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}


/* CLASSES */

.header-link {
    text-decoration: none;
    color: whitesmoke;
}

.profile_picture {
    width: 300px;
    height: 300px;
}

.music_image {
    width: 700px;
    height: auto;
}

.coffee_image {
    width: 500px;
    height: auto;
}

.certificates {
    width: 500px;
    height: auto;
}